/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/commandlinetools/
.idea/laravel-plugin.xml
.idea/modules.xml
.idea/mylaravelproject.iml
.idea/php.xml
.idea/phpunit.xml
.idea/vcs.xml
