*{
    margin:0; padding:0;
}
body{
    font-size:19px;
    color:black;
    background:white;
    line-height:1.7;
}
.body-inner{
    width: 98%;
    margin: 0 auto;
}

article {
    line-height:1.5;
    text-align: justify;
    border-bottom: 2px solid black;
}

article + article {
    margin-top: 80px;
}
.align-justify{
    text-align: justify;
}

.redHead > a{
    color:red;
}

/*NAV*/
#nav{
    background:green;
}
#nav ul {
    list-style:none;
    display:flex;
    gap: 2rem;
}

#nav ul li a {
    text-decoration:none;
    color:white;
    transition: color 0.6s ease-in;
}

#nav ul li a:hover {
    color:yellow;
}